# .envs
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# build
build/

# IDE
.idea/

# Node modules cache
node_modules/.cache/

# babel-loader cache
node_modules/.cache/babel-loader/

# Webpack/default cache
node_modules/.cache/default-development/